
.con-info .con-icon {
	color:#2ecc71;
}
.small-text { 
	color:#2ecc71;
}
li.selected{
	border-bottom:2px solid #2ecc71;
	margin-bottom:10px;
}
ul.dot-nav-wrap li{
	background:#2ecc71;
}
.bar-prc1 {
	background-color: #2ecc71;
}
.bar-prc2 {
	background-color: #2ecc71;
}
.bar-prc3 {
	background-color: #2ecc71;
}
.bar-prc4 {
	background-color: #2ecc71;
}
.bar-prc5 {
	background-color: #2ecc71;
}
.bar-prc6 {
	background-color: #2ecc71;
}
#about a {
	color: #2ecc71;
}
.cl-effect-10 a::before {
	background: #2ecc71;
}
.services-offer .services-icon1:before{
	color: #2ecc71; 
}
.services-offer .services-icon2:before{
	color: #2ecc71;
}
.services-offer .services-icon3:before{
	color: #2ecc71;
}
.icon-left1{
	color:#2ecc71;
}
.team-social li.icon-team a {
	color: #2ecc71;  
}
.team-social1 li.icon-team1 a {
	color: #2ecc71;  
}
.testi-wrap h6 small{
	color:#2ecc71;
}



















